.timeline {
  position: relative;
  width: 50%;
  margin: 0 auto;
  border-left: 2px solid #fff;
  padding-left: 2px;
  height: 100vh;
}

.timeline-item {
  position: relative;
  margin-bottom: 10vh;
  opacity: 0;
}

.timeline-content {
  position: relative;
  top: -1vh;
}

.timeline-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -8px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 2px solid #cfd8dc;
  border-radius: 50%;
  z-index: 1;
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -5px;
  width: 2px;
  height: 100%;
  background-color: #cfd8dc;
  z-index: 1;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-item:last-child::before {
  height: 6px;
}
